@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>

<address>
    2501 4th Ave,<br />
    Canyon, TX 79015<br />
    <abbr title="Phone">Phone:</abbr>
    806.651.0000
</address>

